*{
   margin: 0;
   padding: 0;
}

.cabeçalho{
    background-color: #07314F;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.imagem-da-logo-da-escola{
    width: 15%;

}


.cabeçalho-lista-item{
     display:inline-block;
     margin: 0 19px;
     font-size: 25px;
}
